#parentDiv{
	display: flex
}
#child1, #child3{
	flex:  0 0 20em;
	height: 20vh;
	width: 80vh

}
#child1{
	background-color: red;
	border: 1px solid black

}
#child2{
	background-color: yellow;
	border: 1px solid black;
	
	flex: 1
}
#child3{
	background-color: blue;
	border: 1px solid black
}
@media screen and (min-width: 800px){
	#child2{
		visibility: hidden;
	}
}